In [1]:
import scanpy as sc
import scrublet as scr
import pandas as pd
import numpy as np

In [2]:
adata = sc.read_h5ad('../../final//seurat/t_cell/02-t_cell_raw_harm.sceasy.h5ad')

In [3]:
adata
adata.X[1:30,1:5].todense()

matrix([[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 2., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 1.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]], dtype=float32)

In [ ]:
scrub = scr.Scrublet(adata.X )
doublet_scores, predicted_doublets = scrub.scrub_doublets()

Preprocessing...

In [5]:
doublet_scores.shape

(167679,)

In [6]:
from collections import Counter
Counter(predicted_doublets)

Counter({False: 165974, True: 1705})

In [7]:
tmp = {'barcode' : adata.obs_names, 'doublet' : predicted_doublets}
result = pd.DataFrame(tmp)

In [8]:
result

                      barcode  doublet
0        AAACCTGAGAAGGTGA-1_1    False
1        AAACCTGAGCTCCTTC-1_1    False
2        AAACCTGAGCTGCGAA-1_1    False
3        AAACCTGAGGAATCGC-1_1    False
4        AAACCTGCAAAGAATC-1_1    False
...                       ...      ...
167674  TTTGTCAGTCTTCGTC-1_22    False
167675  TTTGTCATCGCGCCAA-1_22    False
167676  TTTGTCATCGGCGCAT-1_22    False
167677  TTTGTCATCTCTGCTG-1_22    False
167678  TTTGTCATCTGAGGGA-1_22    False

[167679 rows x 2 columns]

In [9]:
result.to_csv('./tcell_doublet_result.csv', index=False)

In [3]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']